server:
  port: 8090
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oficenter
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 123
    username: root
  mail:
    host: smtp.gmail.com
    port: 587
    username: orkhanmustafaev93@gmail.com
    password: mwtgyixdvnytbiku
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    database: mysql
    open-in-view: false
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE
logging:
  file:
    name: logs/digital_hands_oficenter.log
  level:
    az.digitalhands.oficenter: DEBUG
    org.springframework.web: ERROR
    org.hibernate: ERROR
encryption:
  salt:
    rounds: 10
jwt:
  secret:
    key: AL3MOS582WX2VX458923150FSDfOLR78520034ASD3PSV5A20ASD6QAP5ADS520Z